# Configuration for GitLab CI/CD
# # https://gitlab.com/sigscale/ocs

stages:
  - build
  - test
  - deploy

.build:otp: &build_otp
  stage: build
  image: erlang
  before_script:
    - apt remove cmdtest
    - apt remove yarn
    - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
    - echo "deb https://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list
    - apt-get update
    - apt-get install yarn
    - export PATH="$PATH:`yarn global bin`"
  script:
    # Prepare environmental variables
    - export ERL_LIBS="${CI_PROJECT_DIR}/.build/otp-${OTP_VERSION}/lib"
    - export ERLANG_INSTALL_LIB_DIR=${ERL_LIBS}
    - aclocal
    - autoheader
    - autoconf
    - libtoolize --automake
    - automake --add-missing
    - rm -rf .build/otp-${OTP_VERSION}
    - mkdir -p .build/otp-${OTP_VERSION}/{lib,ocs}
    - cd .build/otp-${OTP_VERSION}/
    # Install mochiweb
    - git clone https://github.com/mochi/mochiweb.git
    - cd mochiweb
    - make all
    - MOCHIWEB_VERSION=`grep vsn ebin/mochiweb.app | cut -d"\"" -f 2`
    - cd ../../
    - if [ ! -d otp-${OTP_VERSION}/lib/mochiweb-${MOCHIWEB_VERSION} ]; then mv -v otp-${OTP_VERSION}/mochiweb/ otp-${OTP_VERSION}/lib/mochiweb-${MOCHIWEB_VERSION}; fi
    # Install radierl
    - git clone https://gitlab.com/sigscale/radierl.git
    - cd radierl
    - aclocal
    - autoheader
    - autoconf
    - automake --add-missing
    - ./configure
    - make
    - make install
    # Install sigscale_mibs
    - git clone https://gitlab.com/sigscale/sigscale_mibs.git
    - cd sigscale_mibs
    - aclocal
    - autoheader
    - autoconf
    - automake --add-missing
    - ./configure
    - make
    - make install
    # ocs
    - cd ${CI_PROJECT_DIR}/.build/otp-${OTP_VERSION}/ocs
    - ../../../configure
    - make

build:otp-21:
  <<: *build_otp
  image: erlang:21
  artifacts:
    untracked: true
    paths:
      - .build/otp-21.*

build:otp-20:
  <<: *build_otp
  image: erlang:20
  artifacts:
    untracked: true
    paths:
      - .build/otp-20.*

build:otp-18:
  <<: *build_otp
  image: erlang:18
  artifacts:
    untracked: true
    paths:
      - .build/otp-18.*

.check:otp: &check_otp
  stage: test
  image: erlang
  script:
    - export ERL_LIBS="${CI_PROJECT_DIR}/.build/otp-${OTP_VERSION}/lib"
    - export DIALYZER_PLT="${CI_PROJECT_DIR}/.build/otp-${OTP_VERSION}/.dialyzer_plt"
    - if ! dialyzer --plt_info; then dialyzer --no_native --build_plt --apps erts kernel stdlib crypto compiler public_key diameter inets mnesia ssl mochiweb radius syntax_tools; fi
    - cd .build/otp-${OTP_VERSION}/ocs
    - make check

check:otp-21:
  <<: *check_otp
  image: erlang:21
  artifacts:
    when: always
    paths:
      - .build/otp-21.*
  dependencies:
    - build:otp-21

check:otp-20:
  <<: *check_otp
  image: erlang:20
  artifacts:
    when: always
    paths:
      - .build/otp-20.*
  dependencies:
    - build:otp-20

check:otp-18:
  <<: *check_otp
  image: erlang:18
  artifacts:
    when: always
    paths:
      - .build/otp-18.*
  dependencies:
    - build:otp-18

pages:otp-18:
  stage: deploy
  script:
    - mkdir -p .public/doc .public/tests
    - cp -r .build/otp-18.*/ocs/test/log/* .public/tests
    - cp -r .build/otp-18.*/ocs/doc/* .public/doc
    - mv .public public
  artifacts:
    when: always
    paths:
      - public
  dependencies:
    - check:otp-18
  # Temporary option
  when: always

pages:otp-20:
  stage: deploy
  script:
    - mkdir -p .public/doc .public/tests
    - cp -r .build/otp-20.*/ocs/test/log/* .public/tests
    - cp -r .build/otp-20.*/ocs/doc/* .public/doc
    - mv .public public
  artifacts:
    when: always
    paths:
      - public
  dependencies:
    - check:otp-20
  # Temporary option
  when: always

pages:otp-21:
  stage: deploy
  script:
    - mkdir -p .public/doc .public/tests
    - cp -r .build/otp-21.*/ocs/test/log/* .public/tests
    - cp -r .build/otp-21.*/ocs/doc/* .public/doc
    - mv .public public
  artifacts:
    when: always
    paths:
      - public
  dependencies:
    - check:otp-21
  # Temporary option
  when: always

