# http://www.gnu.org/software/automake
INSTALL
Makefile.in
ebin/Makefile.in
include/Makefile.in
doc/Makefile.in
test/Makefile.in

# http://www.gnu.org/software/autoconf
aclocal.m4
config.h.in
configure
autom4te.cache/
install-sh
missing

# http://www.gnu.org/software/libtool
compile
config.guess
config.h.in~
config.sub
depcomp
ltmain.sh

